<%= @player_1_name %> vs <%= @player_2_name %> HP: <%= @player_2_HP %>
</br></br>
<%= @active_player_name %>'s turn:
</br>
<form action ="/attack" method="post">
  <input type ="submit" value = "attack">
</form>
